.body {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(assets/backgrounds/subtle_white_mini_waves.png);
}

img {
  border-radius: 8px;
  border: 1px solid #c5c0b8;
  margin: 80px 0;
}
/*
header
*/
.header {
  border-bottom: solid;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 140px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(images/backgrounds/brown.jpg);
}
/*
footer
*/
.footer {
  background-color: #403933;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(images/backgrounds/brown.jpg);
  align-items: center;
  justify-content: center;
  font-family: "Nanum Pen Script", cursive;
  color: #c5c0b8;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}
/*
skills 
*/
.skillWrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0 10%;
}

.skill:hover {
  color: red;
}

.skill {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0 20px;
  line-height: 34px;
  width: 200px;
  color: #202121;
  background-color: seashell;
  border: 1px solid #202121;
  border-radius: 36px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.column {
  margin: 100px;
}
.parag {
  display: block;
  justify-content: center;
  align-self: center;
}
.h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.link {
  margin-top: 30px;
  margin-right: 20px;
  padding-right: 20px;
  text-decoration: none;
  margin-left: 20px;
  list-style-type: none;
}
.name {
  display: flex;
  justify-content: center;
  align-self: center;
}
.para {
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  flex-direction: row;
}

.logo {
  font-family: "Nanum Pen Script", cursive;
  font-size: 72px;
  color: #c5c0b8;
  text-align: center;
  letter-spacing: -3;
  margin: 0;
  padding: 20px 0 0 0;
}

.about {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin: 100px;
}
.form {
  padding: 10px 12px;
  margin: 10px 0 20px 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inquiry {
  width: 500px;
}
.love {
  justify-content: center;
  align-content: center;
  display: flex;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  border-radius: 6px;
}
.email {
  margin-bottom: 10px;
}
a:hover {
  color: red;
}

h1 h2 {
  padding: 20px 0 0 0;
  margin: 20px;
}
.navbar {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media all and (max-width: 1087px) {
  .logo {
    font-size: 60px;
  }
}
@media all and (max-width: 909px) {
  .logo {
    font-size: 50px;
  }
}
@media all and (max-width: 760px) {
  .logo {
    font-size: 43px;
  }
}
@media all and (max-width: 639px) {
  .logo {
    font-size: 30px;
  }
  .navbar {
    margin-top: 10px;
  }
}
